@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Zen+Tokyo+Zoo&display=swap');

*{
  user-select: none;
}

body {
  display: flex;
  height: 94vh;
  overflow: hidden;
  position: relative;
  top: 40px;
  font-family: 'Poppins';
}

:host ::ng-deep .p-datepicker .p-yearpicker .p-yearpicker-year.p-highlight {
  color: green;
  background: #cbffce;
}

.card {
  display: flex;
  flex: 1;
  margin: 0px 0px 0px 10px;
  overflow: hidden;
  height: 100%;
}

.video {
  margin: 20px;
  width: 30%;
  border-radius: 20px;
  overflow: hidden;
  height: 95%;
  position: relative;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);

}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Centra el video */
  min-width: 100%;
  min-height: 100%;
}

:host ::ng-deep .p-progressbar {
  top: 30px;
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

:host ::ng-deep .p-progressbar .p-progressbar-value {
  background-color: green;
}

:host ::ng-deep .p-button {
  font-size: 20px;
  margin: 0;
  margin-right: 10px;
  padding: 5px;
  background-color: green;
  border: none;
}

span {
  font-size: 15px;
  margin-left: 5px;
  font-family: 'Poppins';
}

:host ::ng-deep .p-stepper .p-stepper-header.p-highlight .p-stepper-number {
  background-color: rgba(184, 249, 184, 0.519);
  color: green;
}

:host ::ng-deep .p-stepper .p-stepper-header.p-highlight .p-stepper-title {
  color: green;
}

:host ::ng-deep .p-inputtext:enabled:hover {
  border-color: green;
}

:host ::ng-deep .p-inputtext {
  border-color: grey;
}

input:focus {
  outline: none;
  box-shadow: none;
}

input {
  width: 300px;
}

:host ::ng-deep .p-calendar {
  width: 300px;
}

:host ::ng-deep .p-calendar:focus {
  width: 300px;
  outline: none;
  box-shadow: none;
}



:host ::ng-deep .p-calendar:not(.p-calendar-disabled).p-focus>.p-inputtext {
  outline: none;
  box-shadow: none;
}

:host ::ng-deep .p-stepper.p-stepper-vertical .p-stepper-panel:has(~ .p-stepper-panel-active) .p-stepper-separator {
  background-color: green;
}

#inputAreas {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  flex-direction: row;
}

.input-group {
  margin-right: 100px;
  /* Add some space between the input groups */
  flex: 1;
  /* Allow the input groups to grow and fill the space */
}

:host ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:enabled:hover,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:enabled:hover {
  color: green;
}

:host ::ng-deep .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:hover {
  color: green;
}

:host ::ng-deep .p-datepicker table td>span.p-highlight {
  color: green;
  background: #e3fedf;
}

:host ::ng-deep .p-datepicker table td>span.p-highlight:focus {
  outline: none;
  box-shadow: none;
}

:host ::ng-deep .p-datepicker .p-monthpicker .p-monthpicker-month:focus {
  outline: none;
  box-shadow: none;
}

:host ::ng-deep .p-datepicker .p-yearpicker .p-yearpicker-year:focus {
  outline: none;
  box-shadow: none;
}

:host ::ng-deep .p-datepicker:focus {
  outline: none;
  box-shadow: none;
}

:host ::ng-deep .p-datepicker td>span {
  outline: none;
  box-shadow: none;
}

:host ::ng-deep .p-dropdown:not(.p-disabled).p-focus{
  outline: none;
  border-color: green;
  box-shadow: none;
}

:host ::ng-deep .p-dropdown:not(.p-disabled):hover{
  outline: none;
  box-shadow: none;
  border-color: green;
}

:host ::ng-deep .p-dropdown:not(.p-disabled){
  border-color: grey;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: green;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
  background: rgba(223, 255, 219, 0.83);
}

:host ::ng-deep .p-dropdown .p-dropdown-label {
  width: 250px;
}

:host ::ng-deep .p-inputtext {
  width: 300px;
}

:host ::ng-deep .p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: none;
  border-color: green;
}

#map {
  height: 300px;
  width: 120%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

:host ::ng-deep .p-button:focus {
  outline: none;
  box-shadow: none;
}

#address{
  width: 500px;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
  z-index: 1000;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}

br {
  content: ""; /* Asegura que el <br> tenga efecto */
  display: block; /* Lo convierte en un bloque para poder aplicar estilos */
  margin-bottom: 5px; /* Ajusta el espacio después del <br> */
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid white;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}