<p-toast />

<div class="main">
    <header>
        <a id="foto" href="agricultor/main-agricultor/productos">
            <img src="../../../assets/LogoCompleto.png" />
        </a>
        <div id="menu">
            <label class="popup">
                <input type="checkbox" />
                <div tabindex="0" class="burger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                        style="fill: rgb(5, 120, 20);">
                        <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24"
                        style="fill: rgb(5, 120, 20); margin-left: 7px;">
                        <path
                            d="M12 2C6.579 2 2 6.579 2 12s4.579 10 10 10 10-4.579 10-10S17.421 2 12 2zm0 5c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zm-5.106 9.772c.897-1.32 2.393-2.2 4.106-2.2h2c1.714 0 3.209.88 4.106 2.2C15.828 18.14 14.015 19 12 19s-3.828-.86-5.106-2.228z">
                        </path>
                    </svg>
                </div>
                <nav class="popup-window">
                    <ul>
                        <li>
                            <button (click)="onLogout()">
                                <span>Cerrar Sesión</span>
                            </button>
                        </li>
                    </ul>
                </nav>
            </label>
        </div>
    </header>
    <div class="space"></div>
</div>

<body>
    <section class="perfil">
        <div style="display: flex; justify-content: start;">
            <a href="agricultor/main-agricultor/settings">Configuración</a>
            <i class='bx bx-chevron-right' style="font-size: 25px; color: rgb(72, 72, 72); font-weight: lighter;"></i>
            <a>Perfil</a>
        </div>
        <div>
            <h1 style="font-size: 35px; color: rgb(43, 43, 43);">Perfil</h1>
        </div>
        <div style="display: flex; flex-direction: row; margin-top: 20px; width: 100%; gap: 10%;">
            <div style="width: 60%;">
                <div>
                    <h4>Nombre</h4>
                    <div style="display: flex; justify-content: space-between;">
                        <p>{{ datauser.fullname }}</p>
                        <a id="modify" (click)="openEditDialog('fullname')">Modificar</a>
                    </div>
                </div>
                <hr>

                <div>
                    <h4>Correo</h4>
                    <div style="display: flex; justify-content: space-between;">
                        <p>{{ datauser.email }}</p>
                    </div>
                </div>
                <hr>
                <div>
                    <h4>Celular</h4>
                    <div style="display: flex; justify-content: space-between;">
                        <p>{{ datauser.cellphone }}</p>
                        <a id="modify" (click)="openEditDialog('cellphone')">Modificar</a>
                    </div>
                </div>
                <hr>

                <div>
                    <h4>Fecha de Nacimiento</h4>
                    <div style="display: flex; justify-content: space-between; width: 100%;">
                        <p>{{ datauser.birthday.toDate() | date:'d \'de\' MMMM \'de\' y' }}</p>
                    </div>
                </div>
            </div>
            <aside style="width: 35%; padding-top: 35px;  padding-bottom: 35px;">
                <div style="width: 85%;">
                    <img src="../../../assets/Candado.svg" width="60px">
                    <h1>¿Qué datos se pueden editar?</h1>
                    <p style="font-size: 13px; text-align: justify;">Los datos personales y de contacto pueden editarse.
                        El cambio de dirección y correo es bajo solicitud por medidas de seguridad.</p>
                </div>
                <hr style="width: 85%;">
                <div style="width: 85%; ">
                    <img src="../../../assets/Compartir.png" width="60px">
                    <h1>¿Qué información se comparte con los demás?</h1>
                    <p style="font-size: 13px; text-align: justify;">Verduléate solo proporciona los datos de contacto
                    </p>
                </div>
            </aside>
        </div>
    </section>

</body>

<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box2">
            <figure>
                <a href="index.html">
                    <img src="https://github.com/ElAdripan/Verduleate/blob/main/Logo%20V.png?raw=true">
                </a>
            </figure>
        </div>
        <div class="box2">
            <h2>NUESTROS SISTEMAS</h2>
            <a>- Agricultor</a> <br>
            <a>- Comprador</a>
        </div>
        <div class="box2">
            <h2>SÍGANOS</h2>
            <div class="red-social">
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>Verduléate - Todos los Derechos Reservados &copy; 2025 </small>
    </div>
</footer>

<p-dialog [(visible)]="displayDialog" header="Actualice sus Datos" [modal]="true">
    <div *ngIf="editingField">
        <label for="editField">Nuevo valor:</label> <br>

        <input *ngIf="editingField !== 'cellphone'" type="text" [(ngModel)]="editableData[editingField]"
            class="p-inputtext p-component">

        <p-inputMask *ngIf="editingField === 'cellphone'" mask="(999) 99-999-9999"
            [(ngModel)]="editableData.cellphone"></p-inputMask>

        <div style="margin-top: 15px;">
            <button (click)="updateUserData()" class="buttonSave"><i class='bx bx-save'></i></button>
        </div>
    </div>
</p-dialog>