@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    font-family: 'Poppins';
    margin: 0;
    overflow: hidden;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17.5px 30px 10px 30px;
}

#productsButton {
    background-color: rgb(41, 180, 41);
    border: 1px solid rgb(41, 180, 41);
    border-radius: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: 15px;
    gap: 10px;
    cursor: pointer;
    color: white;
    transition: all ease-in-out 0.2s;
}

#productsButton:hover{
    background-color: white;
    color: green;
}

#productsButton:focus{
    outline: none;
    box-shadow: none;
}

#productsPublishedText{
    color: rgb(57, 57, 57);
    font-size: 15px;
    font-weight: 200;
}

body{
    width: 100%;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 12px;
}

.product-card {
    width: 100%;
}

.product-image {
    width: 100%;
    height: 200px;
    border: 1px solid green;
    object-fit: cover;
    border-radius: 8px;
}

:host ::ng-deep .p-card .p-card-body{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
}

:host ::ng-deep .p-card .p-card-content{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}