@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
@import "primeicons/primeicons.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:host ::ng-deep button {
    outline: none;
    box-shadow: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-block: 20px;
    border-bottom: 1px solid rgba(89, 89, 89, 0.267);
    background-color: white;
}

#menu button {
    background-color: transparent;
    color: green;
    border: none;
    font-size: 20px;
    margin-right: -17%;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
    display: flex;
    text-align: center;
    padding: 12px;
    gap: 8px;
    border: 1px solid green;
}

#menu button:hover {
    cursor: pointer;
}

:host ::ng-deep .p-menu {
    width: 150px;
}

#foto,
#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.20;
}

#busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23%;
}

/* Imagen */
#foto img {
    width: 155px;
    height: 100%;
}


.searchBox {
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 30px -25px rgba(0, 0, 0, 0.67);
    justify-content: space-between;
    background: #ffffff;
    height: 50px;
    border-radius: 50px;
    width: 400px;
    position: relative;
    border: 1px solid green;
    transition: all 0.3s ease;
}

.searchBox:focus-within {
    border-color: rgb(13, 171, 13);
}

.searchButton {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 8px;
    font-size: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: green;
    border: 0;
    margin-right: 5px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

/*hover effect*/
.searchButton:hover {
    color: #fff;
    background-color: rgb(13, 171, 13);
}

.searchInput {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 15px;
    padding: 20px;
}


.main {
    position: fixed;
    width: 100%;
    z-index: 1000;
    overflow: visible;
}

.categorySelection {
    padding-top: 7px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5%;
    background-color: white;
}

.selection {
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
}

.botoncito {
    width: 100px;
    height: 60px;
    background-color: white;
    border: none;
    margin-top: 5px;
    transition: all 0.4s ease;
}

.botoncito::after {
    content: '';
    display: block;
    margin-top: 5px;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 120, 0);
    transform: scaleX(0);
    transition: transform 0.2s;
}

.botoncito:hover::after {
    transform: scaleX(1);
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    gap: 20px;
}

.filtersButton {
    width: 90px;
    margin-top: -10px;
    height: 40px;
    background: white;
    border: 1px solid rgb(0, 120, 0);
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    cursor: pointer;
}

.selection button i,
p {
    color: rgb(0, 120, 0);
}

.selection:hover>.botoncito:not(:hover) {
    filter: grayscale(70%);
}



:host ::ng-deep .p-carousel .p-carousel-indicators {
    display: none;
}

.frescos {
    background-color: blue;
}

:host ::ng-deep .p-scrolltop .p-icon {
    width: 0.8rem;
    height: 1rem;
}

:host ::ng-deep .p-scrolltop {
    background: rgba(7, 192, 7, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


:host ::ng-deep .p-card {
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.provincia {
    width: 100%;
}

.product-image {
    width: 100%;
    height: 150px;
    border: 2px solid rgba(0, 128, 0, 0.442);
    object-fit: contain;
    border-radius: 16px;
}

:host ::ng-deep .p-card .p-card-body {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0.5rem;
    padding-bottom: 0.25rem;
}

:host ::ng-deep .p-card {
    width: 175px;
}

:host ::ng-deep .p-card .p-card-content {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}


:host ::ng-deep .p-carousel {
    width: 100%;
}

:host ::ng-deep .custom-carousel .p-carousel-content {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: flex-start;
    gap: 10px;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}


.carusel-container {
    margin: 20px auto;
    width: 90%;
    box-sizing: border-box;
}
:host ::ng-deep .custom-carousel .p-carousel-prev,
:host ::ng-deep .custom-carousel .p-carousel-next {
    display: none;
}

.custom-nav-btn {
  padding: 5px 10px;
  background-color: #09871a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.custom-nav-btn:hover {
  background-color: #027902;
}

.navText{
    font-size: 18px;
    font-weight: bold;
}

.button-container{
    margin-right: 22px;
}
