<div class="main">
    <header>
        <a id="foto" href="comprador/main-comprador">
            <img src="../../../assets/LogoCompleto.png" />
        </a>
        <div id="busqueda">
            <div class="searchBox">

                <input class="searchInput" type="text" name="" placeholder="¿Qué desea comprar hoy?">
                <button class="searchButton">
                    <i class='bx bx-search-alt-2'></i>
                </button>
            </div>
        </div>
        <div id="menu">
            <label class="popup">
                <input type="checkbox" />
                <div tabindex="0" class="burger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                        style="fill: rgb(5, 120, 20); ">
                        <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z"></path>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24"
                        style="fill: rgb(5, 120, 20); margin-left: 7px;">
                        <path
                            d="M12 2C6.579 2 2 6.579 2 12s4.579 10 10 10 10-4.579 10-10S17.421 2 12 2zm0 5c1.727 0 3 1.272 3 3s-1.273 3-3 3c-1.726 0-3-1.272-3-3s1.274-3 3-3zm-5.106 9.772c.897-1.32 2.393-2.2 4.106-2.2h2c1.714 0 3.209.88 4.106 2.2C15.828 18.14 14.015 19 12 19s-3.828-.86-5.106-2.228z">
                        </path>
                    </svg>
                </div>
                <nav class="popup-window">
                    <ul>
                        <li>
                            <button>
                                <span>Cerrar Sesión</span>
                            </button>
                        </li>
                    </ul>
                </nav>
            </label>
        </div>
    </header>
    <div class="space">
    </div>
</div>

<body>
    <section>
        <div>
            <h1>Cuenta</h1>
        </div>
        <div>

        </div>
    </section>
</body>