@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: flex;
    padding-top: 100px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-block: 20px;
    border-bottom: 1px solid rgb(5, 162, 5);
    background-color: white;
}

#menu button {
    background-color: transparent;
    color: green;
    border: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 100%;
    transition: all 0.3s ease-in-out;
    display: flex;
}

#menu button:hover {
    background-color: rgba(41, 240, 41, 0.186);
    cursor: pointer;
}

#foto,
#busqueda,
#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.30;
}

#busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

/* Imagen */
#foto img {
    width: 155px;
    height: 100%;
}


.searchBox {
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 30px -25px rgba(0, 0, 0, 0.67);
    justify-content: space-between;
    background: #ffffff;
    height: 50px;
    border-radius: 50px;
    width: 375px;
    position: relative;
    border: 1px solid green;
}

.searchButton {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 8px;
    font-size: 20px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: green;
    border: 0;
    margin-right: 5px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

/*hover effect*/
.searchButton:hover {
    color: #fff;
    background-color: rgb(0, 207, 0);
}

.searchInput {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    color: black;
    font-size: 15px;
    padding: 20px;
}

.main {
    position: fixed;
    width: 100%;
    z-index: 1000;
    overflow: visible;
}

.categorySelection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.selection {
    display: flex;
    justify-content: space-evenly;
}

.selection button {
    width: 100px;
    height: 60px;
    background-color: white;
    border: none;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    gap: 20px;
}

/* From Uiverse.io by gharsh11032000 */ 
/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    padding: 0;
    margin: 0;
    height: 2em;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    scale: 0.7;
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 2px solid #414141;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.2em;
    bottom: 0.2em;
    background-color: rgb(12, 182, 17);
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .switch input:checked + .slider {
    border: 2px solid #2bb90e;
  }
  
  .switch input:checked + .slider:before {
    transform: translateX(1.5em);
  }

  .filtersButton{
    width: 90px;
    height: 40px;
    background-color: white;
    border: 1px solid green;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
  }

  .selection button i, p {
    color: green;
  }