<header>
    <a id="foto">
        <img src="../../../assets/LogoCompleto.png" href="comprador/main-comprador"/>
    </a>
    <div id="busqueda">
        <div class="searchBox">
            <input class="searchInput" type="text" name="" placeholder="¿Qué desea comprar hoy?">
            <button class="searchButton">
                <i class='bx bx-search-alt-2'></i>
            </button>
        </div>
    </div>
    <div id="menu">
        <p-menu #profileMenu [model]="menuItems" popup></p-menu>
        <button type="button" pButton (click)="profileMenu.toggle($event)">
            <i class="pi pi-user"></i>
            <i class="pi pi-bars"></i>
        </button>
    </div>
</header>
<div class="categorySelection">
    <div class="selection">
        <button class="botoncito">
            <i class="fas fa-leaf"></i>
            <p>Hojas</p>
        </button>
        <button class="botoncito">
            <i class="fas fa-carrot"></i>
            <p>Hortalizas</p>
        </button>
        <button class="botoncito">
            <i class="fas fa-seedling"></i>
            <p>Tallos</p>
        </button>
        <button class="botoncito">
            <i class="fa-solid fa-tree"></i>
            <p>Raíces</p>
        </button>
        <button class="botoncito">
            <i class="fa-solid fa-pepper-hot"></i>
            <p>Tubérculos</p>
        </button>
        <button class="botoncito">
            <i class="fa-solid fa-lemon"></i>
            <p>Bulbos</p>
        </button>
        <button class="botoncito">
            <i class="fas fa-apple-alt"></i>
            <p>Frutos</p>
        </button>
        <button class="botoncito">
            <i class="fas fa-seedling"></i>
            <p>Semillas</p>
        </button>
    </div>
    <div class="filters">
        <button class="filtersButton"><i class="fa-solid fa-sliders"></i>Filtros</button>
    </div>
</div>

<body>
    <div class="carusel-container">
        <div *ngFor="let provincia of provincias" class="province-carousel">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <p class="navText" style="cursor: pointer;" [routerLink]="['/comprador/verduras', formatProvincia(provincia)]">Más frutas y verduras de {{provincia}} ></p>
                <div class="button-container">
                    <button style="margin-right: 5px;" (click)="stepCarousel(provincia, 1)" class="custom-nav-btn">
                        <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <button (click)="stepCarousel(provincia, -1)" class="custom-nav-btn">
                        <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            <p-carousel #provinciaCarousel [value]="productosPorProvincia[provincia]" [numVisible]="7" [numScroll]="1" 
                [circular]="true" styleClass="custom-carousel">
                <ng-template pTemplate="item" let-producto>
                    <p-card>
                        <img class="product-image" [src]="'../../../assets/vegetales/' + producto.formattedVegetal + '.png'" />
                        <div style="padding: 5px;">
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <h4>{{ producto.Vegetal }}</h4>
                            </div>
                            <div style="display: flex; align-items: center; font-size: 15px; justify-content: space-between;">
                                <p style="margin-top: 2px;">${{ producto.precio }}/{{ producto.medida.peso }}</p>
                                <div style="display: flex; align-items: center; gap: 5px;">
                                    <p>4.85</p>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </p-card>
                </ng-template>
            </p-carousel>
        </div>

        <!-- Mensaje para provincias con pocos productos -->
        <div *ngFor="let provincia of todasProvinciasEcuador" class="province-message">
            <div *ngIf="productosPorProvincia[provincia].length > 0 && productosPorProvincia[provincia].length < 7" 
                 class="insufficient-products">
                <p>La provincia de {{provincia}} tiene {{productosPorProvincia[provincia].length}} productos. 
                   Se necesitan al menos 7 productos para mostrar el carrusel.</p>
            </div>
        </div>
    </div>
</body>
<p-scrollTop />