@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
  --primary: 130, 55%, 60%;
  /* Lively green */
  --background: 120, 60%, 95%;
  /* Light pastel green */
  --background-secondary: 130, 45%, 35%;
  /* Richer green */
  --background-secondary-dark: 130, 60%, 45%;
  /* Darker green with vibrance */
  --background-secondary-light: 130, 50%, 45%;
  /* Lighter rich green */
  --text-primary: 0, 0%, 0%;
  /* Black text for readability */
  /* Colors */
  --black: 0, 0%, 0%;
  --white: 0, 0%, 100%;
  --quite-gray: 0, 0%, 50%;
  /* Neutral gray */
  --grooble: 120, 30%, 90%;
  /* Very light, desaturated green */
  /* Sizes */
  --heading-large: 5.6rem;
  --heading-medium: 3.6rem;
  --heading-small: 2.4rem;
  --paragraph: 1.11rem;
  --navbar-buttons: 2.4rem;
  /* misc */
  --transition-main: .175, .685, .32;
  /* Fonts */
  --font-main: 'Poppins';
}

/* ===========
  Variabels
 =========== */

/* ===============
  Global Styles
 =============== */

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  width: 100%;
  color: hsl(var(--text-primary));
  font-family: var(--font-main);
  background-color: white;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

/* ============
  Typography
 ============ */



/* Links */
a {
  color: hsla(var(--primary), 1);
  font-size: var(--paragraph);
  text-decoration: underline;
}

a:visited {
  color: hsla(var(--primary), .5);
}

/* =========
  Buttons
 ========= */


button:focus {
  box-shadow:
    0 0 0 2px hsl(var(--black)),
    0 0 0 3px hsl(var(--white));
  border: 1px solid transparent;
}

/* =======
  Lists
 ======= */

ul,
ol {
  margin: 1em 0;
}

/* =======
  Forms
 ======= */

form {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: .5em 0;
  border: none;
}

i {
  margin-left: 10px;
}


select {
  padding: .8em 1.2em;
  border: 1px solid hsl(var(--black));
  font-size: var(--paragraph);
  outline: none;
}

hr {
  width: 30px;
  transition: all ease 0.4s;
  z-index: 100;
}

/* =========
  Classes
 ========= */

/* ================
  Global classes
 ================ */

/* =========
  Flexbox
 ========= */

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexbox-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.flexbox-col-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}

.flexbox-col-left-ns {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.flexbox-col-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}

.flexbox-col-start-center {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

/* Spacings */
.flexbox-space-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* =========
  Classes
 ========= */

.view-width {
  width: 70%;
}

/* ========
  Navbar
 ======== */

#navbar {
  top: 0;
  padding: 0;
  width: 5em;
  height: 100vh;
  position: fixed;
  background-color: hsl(var(--background-secondary));
  transition: width .35s cubic-bezier(var(--transition-main), 1);
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar:hover {
  width: 15em;
  transition-delay: 0.5s;
  /* Retrasa la animación 2 segundos */
}

#navbar:hover hr {
  width: 100px;
  transition-delay: 0.50s;
}

.navbar-items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
  /* Ensure the ul takes the full height of the navbar */
  display: flex;
  flex-direction: column;
  /* Stack items vertically */
}

.navbar-item {
  padding: 0 .5em;
  width: 100%;
  cursor: pointer;
}

.navbar-item:nth-child(8) {
  margin-top: auto;
  /* Pushes the Logout button to the bottom */
}

.navbar-item:last-child {
  margin-bottom: 5px;
}


/* Navbar Logo */
.navbar-logo {
  margin: 0 0 2em 0;
  width: 100%;
  height: 5em;
  box-shadow: none;
  border: none;
  outline: none;
  background: hsl(var(--background-secondary-dark));
}

.navbar-logo>.navbar-item-inner {
  width: calc(5rem - 8px);
}

.navbar-logo>.navbar-item-inner:hover {
  background-color: transparent;
}

.navbar-logo>.navbar-item-inner2>img {
  height: 3em;
  margin-left: 0%;

}

/* Navbar Items */
.navbar-item {
  padding: 0 .5em;
  width: 100%;
  cursor: pointer;
}

.navbar-item-inner {
  padding: 1em 0;
  width: 100%;
  position: relative;
  color: white;
  border-radius: .25em;
  text-decoration: none;
  transition: all .2s cubic-bezier(var(--transition-main), 1);
}

.navbar-item-inner2 {
  padding: 1em 0;
  width: 100%;
  position: relative;
  color: white;
  border-radius: .25em;
  text-decoration: none;
  transition: all .2s cubic-bezier(var(--transition-main), 1);
}

.navbar-item-inner:hover {
  color: hsl(var(--white));
  background: hsl(var(--background-secondary-light));
  box-shadow: 0 17px 30px -10px hsla(var(--black), .25);
}

.navbar-item-inner-icon-wrapper {
  width: calc(5rem - 1em - 8px);
  position: relative;
}

.navbar-item-inner-icon-wrapper i {
  position: absolute;
  font-size: calc(var(--navbar-buttons) - 1rem);
}

.link-text {
  margin: 0;
  width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all .35s cubic-bezier(var(--transition-main), 1);
  overflow: hidden;
  opacity: 0;
}

#navbar:hover .link-text {
  width: calc(100% - calc(5rem - 8px));
  opacity: 1;
}

/* ======
  Main
 ====== */

#main {
  margin: 0 0 0 5em;
}


/* =============
  ::Selectors
 ============= */

/* Selection */
::selection {
  color: hsl(var(--white));
  background: hsla(var(--primary), .33);
}

/* ===============
  5. @keyframes
 =============== */

/* ==============
  @media rules
 ============== */

@media only screen and (max-width: 1660px) {
  :root {
    /* Sizes */
    --heading-large: 5.4rem;
    --heading-medium: 3.4rem;
    --heading-small: 2.2rem;
  }
}

@media only screen and (max-width: 1456px) {
  :root {
    /* Sizes */
    --heading-large: 5.2rem;
    --heading-medium: 3.2rem;
    --heading-small: 2rem;
  }

  .view-width {
    width: 80%;
  }
}

@media only screen and (max-width: 1220px) {
  .view-width {
    width: 70%;
  }
}

@media only screen and (max-width: 1024px) {
  :root {
    /* Sizes */
    --heading-large: 5rem;
    --heading-medium: 3rem;
    --heading-small: 1.8rem;
  }

  .view-width {
    width: 75%;
  }
}

@media only screen and (max-width: 756px) {
  :root {
    /* Sizes */
    --heading-large: 4rem;
    --heading-medium: 2.6rem;
    --heading-small: 1.6rem;
    --paragraph: 1rem;
    --navbar-buttons: 2.2rem;
  }

  .view-width {
    width: calc(100% - 5em);
  }
}

@media only screen and (max-width: 576px) {
  .view-width {
    width: calc(100% - 3em);
  }
}

@media only screen and (max-width: 496px) {}