@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Poppins';
    margin: 0;
    overflow: hidden;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button:focus{
    outline: none;
    box-shadow: none;
}

section {
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 100px;
    height: 100vh;
}

/* El min-width va por los 2, pero para ubicarme lo puse en ambos (Obedece
al de mayor cantidad) */

.perfil{
    grid-area: 1 / 1 / 2 / 2;

}

.hacienda {
    grid-area: 1 / 2 / 2 / 3;
}

.intercambio {
    grid-area: 2 / 1 / 3 / 2;
}

.borrarcuenta {
    grid-area: 2 / 2 / 3 / 3;
}


button {
    min-width: 500px;
    max-width: 500px;
    border: 1px solid green;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    text-align: left;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    padding: 20px;
    height: 38vh;
}


h1 {
    margin-bottom: 10px;
    font-size: 35px;
    color: green;
    transition: all ease-in-out 0.2s;
}

p {
    font-size: 15px;
}


i {
    font-size: 60px;
    transition: all ease-in-out 0.2s;
    margin-bottom: 10px;
    color: green;
}


button:hover {
    color: white;
    background-color: rgb(57, 157, 57);
    border-color: rgb(19, 84, 19);
}

button:hover h1 {
    color: white;
}

button:hover i {
    color: white;
}

:host ::ng-deep .p-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-button:focus{
    box-shadow: none;
    outline: none;
}


.bx-error-alt{
    color: white;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-right: 10px;
}