/* You can add global styles to this file, and also import other style files */

  
*{
    user-select: none;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
    outline: none;
  }
input{
    outline: none;
}
